@import url("https://fonts.googleapis.com/css2?family=Rubik%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-0sozWXV_8fdH: 1280px;
  --plasmic-token-inner-container: var(--token-0sozWXV_8fdH);
  --token-VLL1CYkbkFOo: 1px;
  --plasmic-token-unnamed-style-token: var(--token-VLL1CYkbkFOo);
  --token-Emm6SuigjqyK: #d1387c;
  --plasmic-token-pink: var(--token-Emm6SuigjqyK);
  --token-NN-iduf8E_9O: #b3294d;
  --plasmic-token-red: var(--token-NN-iduf8E_9O);
  --token-nksAIzvLzNvT: #1d1d21;
  --plasmic-token-black: var(--token-nksAIzvLzNvT);
  --token-XiA0kuCLvyZm: Rubik;
  --plasmic-token-basic: var(--token-XiA0kuCLvyZm);
  --token-z4ITjdyvuBFl: #ffc103;
  --plasmic-token-jaune: var(--token-z4ITjdyvuBFl);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MtA557goN2EC-bU6Lh_font-family: "Rubik", sans-serif;
  --mixin-MtA557goN2EC-bU6Lh_font-size: 16px;
  --mixin-MtA557goN2EC-bU6Lh_font-weight: 500;
  --mixin-MtA557goN2EC-bU6Lh_font-style: normal;
  --mixin-MtA557goN2EC-bU6Lh_color: #4f4f4f;
  --mixin-MtA557goN2EC-bU6Lh_text-align: left;
  --mixin-MtA557goN2EC-bU6Lh_text-transform: none;
  --mixin-MtA557goN2EC-bU6Lh_line-height: 1.5;
  --mixin-MtA557goN2EC-bU6Lh_letter-spacing: normal;
  --mixin-MtA557goN2EC-bU6Lh_white-space: pre-wrap;
  --mixin-MtA557goN2EC-bU6Lh_user-select: text;
  --mixin-MtA557goN2EC-bU6Lh_text-decoration-line: none;
  --mixin-MtA557goN2EC-bU6Lh_text-overflow: clip;
  --mixin-IMIV0QgQ6cFu-bU6Lh_color: #4f4f4f;
  --mixin-IMIV0QgQ6cFu-bU6Lh_font-weight: 900;
  --mixin-IMIV0QgQ6cFu-bU6Lh_font-size: 72px;
  --mixin-IMIV0QgQ6cFu-bU6Lh_line-height: 1;
  --mixin-IMIV0QgQ6cFu-bU6Lh_letter-spacing: -4px;
  --mixin-IMIV0QgQ6cFu-bU6Lh_font-family: "Inter", sans-serif;
  --mixin-IMIV0QgQ6cFu-bU6Lh_white-space: pre-wrap;
  --mixin-uViJ71yRjEYy-bU6Lh_color: #4f4f4f;
  --mixin-uViJ71yRjEYy-bU6Lh_font-size: 50px;
  --mixin-uViJ71yRjEYy-bU6Lh_font-weight: 700;
  --mixin-uViJ71yRjEYy-bU6Lh_letter-spacing: -1px;
  --mixin-uViJ71yRjEYy-bU6Lh_line-height: 1.1;
  --mixin-uViJ71yRjEYy-bU6Lh_font-family: "Inter", sans-serif;
  --mixin-uViJ71yRjEYy-bU6Lh_white-space: pre-wrap;
  --mixin-U40ogddRPtYl-bU6Lh_color: #0070f3;
  --mixin-U40ogddRPtYl-bU6Lh_white-space: pre-wrap;
  --mixin-N1scxp-cbtfb-bU6Lh_color: #4f4f4f;
  --mixin-N1scxp-cbtfb-bU6Lh_font-size: 32px;
  --mixin-N1scxp-cbtfb-bU6Lh_font-weight: 700;
  --mixin-N1scxp-cbtfb-bU6Lh_letter-spacing: -0.8px;
  --mixin-N1scxp-cbtfb-bU6Lh_line-height: 1.2;
  --mixin-N1scxp-cbtfb-bU6Lh_font-family: "Inter", sans-serif;
  --mixin-N1scxp-cbtfb-bU6Lh_white-space: pre-wrap;
  --mixin-FYmcX858IpTE-bU6Lh_color: #000000;
  --mixin-FYmcX858IpTE-bU6Lh_font-size: 24px;
  --mixin-FYmcX858IpTE-bU6Lh_font-weight: 600;
  --mixin-FYmcX858IpTE-bU6Lh_letter-spacing: -0.5px;
  --mixin-FYmcX858IpTE-bU6Lh_line-height: 1.3;
  --mixin-FYmcX858IpTE-bU6Lh_white-space: pre-wrap;
  --mixin-9mVS_yca0Nzc-bU6Lh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-color: #dddddd;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-style: solid;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-width: 1px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-left-color: #dddddd;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-left-style: solid;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-left-width: 1px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-right-color: #dddddd;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-right-style: solid;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-right-width: 1px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-top-color: #dddddd;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-top-style: solid;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-top-width: 1px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-left-radius: 3px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-right-radius: 3px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-top-left-radius: 3px;
  --mixin-9mVS_yca0Nzc-bU6Lh_border-top-right-radius: 3px;
  --mixin-9mVS_yca0Nzc-bU6Lh_font-family: "Inconsolata";
  --mixin-9mVS_yca0Nzc-bU6Lh_padding-bottom: 1px;
  --mixin-9mVS_yca0Nzc-bU6Lh_padding-left: 4px;
  --mixin-9mVS_yca0Nzc-bU6Lh_padding-right: 4px;
  --mixin-9mVS_yca0Nzc-bU6Lh_padding-top: 1px;
  --mixin-9mVS_yca0Nzc-bU6Lh_white-space: pre-wrap;
  --mixin-Q1qB2JiSXHoN-bU6Lh_border-left-color: #dddddd;
  --mixin-Q1qB2JiSXHoN-bU6Lh_border-left-style: solid;
  --mixin-Q1qB2JiSXHoN-bU6Lh_border-left-width: 3px;
  --mixin-Q1qB2JiSXHoN-bU6Lh_color: #888888;
  --mixin-Q1qB2JiSXHoN-bU6Lh_padding-left: 10px;
  --mixin-Q1qB2JiSXHoN-bU6Lh_white-space: pre-wrap;
  --mixin-TuHMLfTjSosq-bU6Lh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-TuHMLfTjSosq-bU6Lh_border-bottom-color: #dddddd;
  --mixin-TuHMLfTjSosq-bU6Lh_border-bottom-style: solid;
  --mixin-TuHMLfTjSosq-bU6Lh_border-bottom-width: 1px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-left-color: #dddddd;
  --mixin-TuHMLfTjSosq-bU6Lh_border-left-style: solid;
  --mixin-TuHMLfTjSosq-bU6Lh_border-left-width: 1px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-right-color: #dddddd;
  --mixin-TuHMLfTjSosq-bU6Lh_border-right-style: solid;
  --mixin-TuHMLfTjSosq-bU6Lh_border-right-width: 1px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-top-color: #dddddd;
  --mixin-TuHMLfTjSosq-bU6Lh_border-top-style: solid;
  --mixin-TuHMLfTjSosq-bU6Lh_border-top-width: 1px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-bottom-left-radius: 3px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-bottom-right-radius: 3px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-top-left-radius: 3px;
  --mixin-TuHMLfTjSosq-bU6Lh_border-top-right-radius: 3px;
  --mixin-TuHMLfTjSosq-bU6Lh_font-family: "Inconsolata";
  --mixin-TuHMLfTjSosq-bU6Lh_padding-bottom: 3px;
  --mixin-TuHMLfTjSosq-bU6Lh_padding-left: 6px;
  --mixin-TuHMLfTjSosq-bU6Lh_padding-right: 6px;
  --mixin-TuHMLfTjSosq-bU6Lh_padding-top: 3px;
  --mixin-TuHMLfTjSosq-bU6Lh_white-space: pre-wrap;
  --mixin-uhhMqILWRXr--bU6Lh_display: flex;
  --mixin-uhhMqILWRXr--bU6Lh_flex-direction: column;
  --mixin-uhhMqILWRXr--bU6Lh_align-items: stretch;
  --mixin-uhhMqILWRXr--bU6Lh_justify-content: flex-start;
  --mixin-uhhMqILWRXr--bU6Lh_list-style-position: outside;
  --mixin-uhhMqILWRXr--bU6Lh_padding-left: 40px;
  --mixin-uhhMqILWRXr--bU6Lh_position: relative;
  --mixin-uhhMqILWRXr--bU6Lh_list-style-type: disc;
  --mixin-uhhMqILWRXr--bU6Lh_white-space: pre-wrap;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_display: flex;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_flex-direction: column;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_align-items: stretch;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_justify-content: flex-start;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_list-style-position: outside;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_padding-left: 40px;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_position: relative;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_list-style-type: decimal;
  --mixin-Y_Nb-g_lg7jU-bU6Lh_white-space: pre-wrap;
  --mixin-G7vMVeqhEyPv-bU6Lh_color: #000000;
  --mixin-G7vMVeqhEyPv-bU6Lh_font-size: 20px;
  --mixin-G7vMVeqhEyPv-bU6Lh_font-weight: 600;
  --mixin-G7vMVeqhEyPv-bU6Lh_letter-spacing: -0.3px;
  --mixin-G7vMVeqhEyPv-bU6Lh_line-height: 1.5;
  --mixin-G7vMVeqhEyPv-bU6Lh_white-space: pre-wrap;
  --mixin-bAc5gkr_xPj4-bU6Lh_color: #000000;
  --mixin-bAc5gkr_xPj4-bU6Lh_font-size: 16px;
  --mixin-bAc5gkr_xPj4-bU6Lh_font-weight: 600;
  --mixin-bAc5gkr_xPj4-bU6Lh_line-height: 1.5;
  --mixin-bAc5gkr_xPj4-bU6Lh_white-space: pre-wrap;
  --mixin-Zsc-1cmsvXy8-bU6Lh_color: #3291ff;
  --mixin-Zsc-1cmsvXy8-bU6Lh_white-space: pre-wrap;
  --mixin-kiPAD_619Z7Y-bU6Lh_white-space: pre-wrap;
  --mixin-gR94FrcEugXF-bU6Lh_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-JN3DmcShf3_O_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-JN3DmcShf3_O_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MtA557goN2EC-bU6Lh_font-family);
  font-size: var(--mixin-MtA557goN2EC-bU6Lh_font-size);
  font-weight: var(--mixin-MtA557goN2EC-bU6Lh_font-weight);
  font-style: var(--mixin-MtA557goN2EC-bU6Lh_font-style);
  color: var(--mixin-MtA557goN2EC-bU6Lh_color);
  text-align: var(--mixin-MtA557goN2EC-bU6Lh_text-align);
  text-transform: var(--mixin-MtA557goN2EC-bU6Lh_text-transform);
  line-height: var(--mixin-MtA557goN2EC-bU6Lh_line-height);
  letter-spacing: var(--mixin-MtA557goN2EC-bU6Lh_letter-spacing);
  white-space: var(--mixin-MtA557goN2EC-bU6Lh_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-IMIV0QgQ6cFu-bU6Lh_color);
  font-weight: var(--mixin-IMIV0QgQ6cFu-bU6Lh_font-weight);
  font-size: var(--mixin-IMIV0QgQ6cFu-bU6Lh_font-size);
  line-height: var(--mixin-IMIV0QgQ6cFu-bU6Lh_line-height);
  letter-spacing: var(--mixin-IMIV0QgQ6cFu-bU6Lh_letter-spacing);
  font-family: var(--mixin-IMIV0QgQ6cFu-bU6Lh_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-uViJ71yRjEYy-bU6Lh_color);
  font-size: var(--mixin-uViJ71yRjEYy-bU6Lh_font-size);
  font-weight: var(--mixin-uViJ71yRjEYy-bU6Lh_font-weight);
  letter-spacing: var(--mixin-uViJ71yRjEYy-bU6Lh_letter-spacing);
  line-height: var(--mixin-uViJ71yRjEYy-bU6Lh_line-height);
  font-family: var(--mixin-uViJ71yRjEYy-bU6Lh_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-U40ogddRPtYl-bU6Lh_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-N1scxp-cbtfb-bU6Lh_color);
  font-size: var(--mixin-N1scxp-cbtfb-bU6Lh_font-size);
  font-weight: var(--mixin-N1scxp-cbtfb-bU6Lh_font-weight);
  letter-spacing: var(--mixin-N1scxp-cbtfb-bU6Lh_letter-spacing);
  line-height: var(--mixin-N1scxp-cbtfb-bU6Lh_line-height);
  font-family: var(--mixin-N1scxp-cbtfb-bU6Lh_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-FYmcX858IpTE-bU6Lh_color);
  font-size: var(--mixin-FYmcX858IpTE-bU6Lh_font-size);
  font-weight: var(--mixin-FYmcX858IpTE-bU6Lh_font-weight);
  letter-spacing: var(--mixin-FYmcX858IpTE-bU6Lh_letter-spacing);
  line-height: var(--mixin-FYmcX858IpTE-bU6Lh_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9mVS_yca0Nzc-bU6Lh_font-family);
  border-radius: var(--mixin-9mVS_yca0Nzc-bU6Lh_border-top-left-radius)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-top-right-radius)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-right-radius)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-left-radius);
  padding: var(--mixin-9mVS_yca0Nzc-bU6Lh_padding-top)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_padding-right)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_padding-bottom)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_padding-left);
  border-top: var(--mixin-9mVS_yca0Nzc-bU6Lh_border-top-width)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-top-style)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-top-color);
  border-right: var(--mixin-9mVS_yca0Nzc-bU6Lh_border-right-width)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-right-style)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-right-color);
  border-bottom: var(--mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-width)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-style)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-bottom-color);
  border-left: var(--mixin-9mVS_yca0Nzc-bU6Lh_border-left-width)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-left-style)
    var(--mixin-9mVS_yca0Nzc-bU6Lh_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Q1qB2JiSXHoN-bU6Lh_color);
  padding-left: var(--mixin-Q1qB2JiSXHoN-bU6Lh_padding-left);
  border-left: var(--mixin-Q1qB2JiSXHoN-bU6Lh_border-left-width)
    var(--mixin-Q1qB2JiSXHoN-bU6Lh_border-left-style)
    var(--mixin-Q1qB2JiSXHoN-bU6Lh_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-TuHMLfTjSosq-bU6Lh_font-family);
  border-radius: var(--mixin-TuHMLfTjSosq-bU6Lh_border-top-left-radius)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-top-right-radius)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-bottom-right-radius)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-bottom-left-radius);
  padding: var(--mixin-TuHMLfTjSosq-bU6Lh_padding-top)
    var(--mixin-TuHMLfTjSosq-bU6Lh_padding-right)
    var(--mixin-TuHMLfTjSosq-bU6Lh_padding-bottom)
    var(--mixin-TuHMLfTjSosq-bU6Lh_padding-left);
  border-top: var(--mixin-TuHMLfTjSosq-bU6Lh_border-top-width)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-top-style)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-top-color);
  border-right: var(--mixin-TuHMLfTjSosq-bU6Lh_border-right-width)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-right-style)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-right-color);
  border-bottom: var(--mixin-TuHMLfTjSosq-bU6Lh_border-bottom-width)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-bottom-style)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-bottom-color);
  border-left: var(--mixin-TuHMLfTjSosq-bU6Lh_border-left-width)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-left-style)
    var(--mixin-TuHMLfTjSosq-bU6Lh_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-uhhMqILWRXr--bU6Lh_display);
  flex-direction: var(--mixin-uhhMqILWRXr--bU6Lh_flex-direction);
  align-items: var(--mixin-uhhMqILWRXr--bU6Lh_align-items);
  justify-content: var(--mixin-uhhMqILWRXr--bU6Lh_justify-content);
  list-style-position: var(--mixin-uhhMqILWRXr--bU6Lh_list-style-position);
  padding-left: var(--mixin-uhhMqILWRXr--bU6Lh_padding-left);
  position: var(--mixin-uhhMqILWRXr--bU6Lh_position);
  list-style-type: var(--mixin-uhhMqILWRXr--bU6Lh_list-style-type);
  flex-column-gap: var(--mixin-uhhMqILWRXr--bU6Lh_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_display);
  flex-direction: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_flex-direction);
  align-items: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_align-items);
  justify-content: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_justify-content);
  list-style-position: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_list-style-position);
  padding-left: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_padding-left);
  position: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_position);
  list-style-type: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_list-style-type);
  flex-column-gap: var(--mixin-Y_Nb-g_lg7jU-bU6Lh_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-G7vMVeqhEyPv-bU6Lh_color);
  font-size: var(--mixin-G7vMVeqhEyPv-bU6Lh_font-size);
  font-weight: var(--mixin-G7vMVeqhEyPv-bU6Lh_font-weight);
  letter-spacing: var(--mixin-G7vMVeqhEyPv-bU6Lh_letter-spacing);
  line-height: var(--mixin-G7vMVeqhEyPv-bU6Lh_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-bAc5gkr_xPj4-bU6Lh_color);
  font-size: var(--mixin-bAc5gkr_xPj4-bU6Lh_font-size);
  font-weight: var(--mixin-bAc5gkr_xPj4-bU6Lh_font-weight);
  line-height: var(--mixin-bAc5gkr_xPj4-bU6Lh_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Zsc-1cmsvXy8-bU6Lh_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
